#
#  Ada build files
*.ali
*.cswi
*.o
*.cgpr
*.db
*.xml
gnatinspect.db-wal
gnatinspect.db-shm

# Build directories
obj/*
lib/*
#
#  LaTeX intermediate files
#
*.aux
*.bbl
*.blg
*.log
*.toc
*.synctex.gz
